* {
    /*
    padding: 0;
    margin: 0;
    */
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.portfolio {
    margin-left: 40px;
    margin-top: 22px;
    color: white;
}
.navigatiebalk {
    background: black;
    display: flex;
}
.navigatiebalk nav {
    width: 100%;
}
.nav-link {
    color: white;
    text-decoration: none;

}
.navigatiebalk ul {
    display: flex;
    width: 100%;
    gap: 60px;
    list-style: none;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
}
.onderscheidingsbalk {
    width: 100%;
    background-color: white;
    height: 5px;
}
.contact-sectie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    padding: 80px 0;
    gap: 20px;                /
}
.contact-gegevens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-gegevens h1{
    margin: 10px;
    font-size: 90px;
}
.media-grid{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
}
.media-grid img{
    width: 110px;
    height: 110px;
    object-fit: contain;
}
.contact-info {
    font-size: 45px;
}
.contact-button {
    background-color: white;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: nowrap;
}
.footer {
    text-align: center;
    margin: 40px 0;
}
.footer a {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}