* {
    /*
    padding: 0;
    margin: 0;
    */
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.portfolio {
    margin-left: 40px;
    margin-top: 22px;
    color: white;
}
.navigatiebalk {
    background: black;
    display: flex;
}
.navigatiebalk nav {
    width: 100%;
}
.nav-link {
    color: white;
    text-decoration: none;

}
.navigatiebalk ul {
    display: flex;
    width: 100%;
    gap: 60px;
    list-style: none;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
}
.onderscheidingsbalk {
    width: 100%;
    background-color: white;
    height: 5px;
}
.contact-button {
    background-color: white;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: nowrap;
}
.teksteninfo h1 {
    font-size: 80px;
    color: white;
    margin-top: 140px;
    margin-left: -80px;
}
.teksteninfo h2 {
    font-size: 80px;
    color: white;
    margin-top: -30px;
    margin-left: -80px;
}
.teksteninfo p {
    font-size: 20px;
    color: white;
    margin-left: -80px;
}
.persoonlijk{
    display: flex;
    justify-content: space-between;
    padding: 80px 10%;
    gap: 60px;
}
.persoonlijk img{
    width: 50%;
    height: 50%;
    max-width: 100%;
    border-radius: 50%;
    margin-right: -80px;
}
.gallery-grid{
    padding: 80px 10%;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    gap: 20px;

    grid-template-areas:
      "img1 img2 img3"
      "img1 img4 img5";
}
.img1{ grid-area: img1; }
.img2{ grid-area: img2; }
.img3{ grid-area: img3; }
.img4{ grid-area: img4; }
.img5{ grid-area: img5; }
.fotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.footer {
    text-align: center;
    margin: 40px 0;
}
.footer a {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}