* {
    /*
    padding: 0;
    margin: 0;
    */
    box-sizing: border-box;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.portfolio {
    margin-left: 40px;
    margin-top: 22px;
    color: white;
}
.navigatiebalk {
    background: black;
    display: flex;
}
.navigatiebalk nav {
    width: 100%;
}
.nav-link {
    color: white;
    text-decoration: none;

}
.navigatiebalk ul {
    display: flex;
    width: 100%;
    gap: 60px;
    list-style: none;
    padding: 20px;
    justify-content: center;
    font-weight: bold;
}
.onderscheidingsbalk {
    width: 100%;
    background-color: white;
    height: 5px;
}
.contact-button {
    background-color: white;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: nowrap;
}
.teksteninfo h1 {
    font-size: 80px;
    color: white;
    margin-top: 140px;
}
.teksteninfo h2 {
    font-size: 80px;
    color: white;
    margin-top: -30px;
}
.teksteninfo p {
    font-size: 20px;
    color: white;
}
.project{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 120px 10%;
}
.project img{
    height: 700px;
    width: 500px;
    max-width: 100%;
    object-fit: cover;
}