* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.tekst {
    display: flex;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.link {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}